html { /*overflow: hidden; */}

body{     
    background: -webkit-gradient(linear, left top, left bottom, from(#032a3a), to(#23538a)) fixed;
	/*background-image: url("images/bg.jpeg");*/
	background-color: rgb(238, 241, 247);
    background-size: cover;
    font-family: "Open Sans", sans-serif;

    margin: 0;
	padding: 0;

	overflow: auto;
    /*font-family: 'Source Sans Pro', sans-serif;
    background-color: #d5dae5;
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;*/
}

a, a:visited, a:hover, a:active {
	color: inherit;
  }

/*INPUT RELATED FIXES*/
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="date"]::-webkit-inner-spin-button, 
input[type="date"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


/*BC RECORD APP - BOOTSTRAP EXTRA*/
/*Temp - for hiding menu to show BC Record APP - TO BE DELETED...*/
.pt-0px{
	padding-top: 0px !important;
}

.mt-44px{
	margin-top: 44px !important;
}
/*Temp - for hiding menu to show BC Record APP - TO BE DELETED...*/

.w-2 {
	width: 2% !important;
}
.w-5 {
	width: 5% !important;
}
.mw-5 {
	max-width: 5% !important;
}
.w-8 {
	width: 8% !important;
}
.w-11 {
	width: 11% !important;
}
.w-12 {
	width: 12% !important;
}
.mw-12 {
	max-width: 12% !important;
}
.w-20 {
	width: 20% !important;
}
.mw-20 {
	max-width: 20% !important;
}
.w-30 {
	width: 30% !important;
}
.w-40 {
	width: 40% !important;
}

.min-w-45px{
	min-width: 45px !important;
}

.min-w-85px{
	min-width: 85px !important;
}

.min-w-100px{
	min-width: 100px !important;
}

.flex-end{
	justify-content: flex-end !important;
}

.text-right{
	text-align: right;
}

/*LOGIN*/
#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

#login h1{
    text-align: center;
    color: #55acee;
    font-size: 35px;
}

#login input{
    display: block;
    width: 320px;
    /**height: 25px;*/
    padding: 10px;
    font-size: 14px;
    color: white;
    background: rgba(0,0,0,0.3);
    outline: none;
    border:1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2),0px 1px 1px rgba(255,255,255,0.2);
    margin-bottom:10px;
}

#login #login-btn{
    cursor:pointer;
    height: 40px;
    width:100%;
    background: #1c4761;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

#login #login-btn:hover {
  background-color: #55aeee94;
}
#login #login-btn:active {
  transform: translateY(1px);
}

/*END LOGIN PINTOR*/


/* FOOTER */
footer {
    position: absolute;
    top: 94%;
    left: 50%;
	color: #FFFFFF;
	text-align: center;
    font-size: 1em;
    transform: translate(-50%, -50%);
}
/* END FOOTER */

/*DASHBOARD*/
/** {
	box-sizing: border-box;
}*/

body.hidden {
	overflow: hidden;
}

.header {
	position: absolute;
	height: 44px;
	width: 100%;
	background-color: #fff;
	z-index: 3;
	/*display: none;*/
	/*border-bottom: 3px solid #2d3d51;*/
}
/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
	height: 44px;
	padding: 10px;
	font-weight: 700;
}
.header .logo {
	color: #233245;
}
.side-nav .logo {
	background-color: #233245;
	color: #fff;
}
.header .logo {
	float: left;
}
.header .logo {
	height: 44px;
	z-index: 1;
	padding: 10px;
	font-weight: 700;
	color: #233245;
}
.logo  i {
	font-size: 22px;
}
.logo span {
	margin-left: 5px;
	text-transform: uppercase;
}
.nav-trigger {
	position: relative;
	float: right;
	width: 20px;
	height: 44px;
	right: 30px;
	display: block;	
}
.nav-trigger span, .nav-trigger span:before, span:after {
	width: 20px;
	height: 2px;
	background-color: #35475e;
	position: absolute;
}
.nav-trigger span {
	top: 50%;
}
.nav-trigger span:before, .nav-trigger span:after {
	content: '';
}
.nav-trigger span:before {
	top: -6px;
}
.nav-trigger span:after {
	top: 6px;
}
/* side navigation styles */
.side-nav {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: #35475e;
	z-index: 1;
	display: none;
}
.side-nav.visible {
	display: block;
}
.side-nav ul {
	margin: 0;
	padding: 0;
}
.side-nav ul li {
	padding: 16px 16px;
	border-bottom: 1px solid #3c506a;
	position: relative;
}
.side-nav ul li.active:before {
	content: '';
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
}
.side-nav ul li a {
	color: #fff;
	display: block;
	text-decoration: none;
}
.side-nav ul li i {
	color: #0497df;
	min-width: 20px;
	text-align: center;
}
.side-nav ul li span:nth-child(2) {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 600;
}

.side-nav ul ul{
	list-style-type: none;
	background-color: #35475e;
	/*padding: 16px 16px;*/
	border-bottom: 1px solid #3c506a;
	text-decoration: none;
	transition: all 0.3s;
	opacity: 0;
	position: absolute;
	/*position: relative;
	display: none;*/
	visibility: hidden;
	left: 100%;
	top: 0%;
	width: 120px;
}

.side-nav ul li:hover > ul{
	opacity: 1;
	visibility: visible;
	/*display: block;*/
}
/* main content styles */
.main-content {
	padding: 40px;
	margin-top: 0;
	padding: 0;
	padding-top: 44px;
	height: 100%;
	/*overflow: scroll;*/
}
.main-content .title {
	background-color: #eef1f7;
	border-bottom: 1px solid #b8bec9;
	padding: 10px 20px;
	font-weight: 700;
	color: #333;
	font-size: 18px;
	max-height: 44px;
}
/* Tablet + Desktop View*/
@media screen and (min-width: 600px) {
	.header {
		background-color: #35475e;
		z-index: 1;
	}
	.header .logo {
		display: none;
	}
	.nav-trigger {
		display: none;
	}
	.nav-trigger span, .nav-trigger span:before, span:after {
		background-color: #fff;
	}
	.side-nav {
		position: fixed;
		display: block;
		width: 70px;
		z-index: 2;
	}
	.side-nav ul li span:nth-child(2) {
		display: none;
	}
	.side-nav .logo i {
		padding-left: 12px;
	}
	.side-nav .logo span {
		display: none;
	}
	.side-nav ul li i {
		font-size: 26px;
	}
	.side-nav ul li a {
		text-align: center;
	}
	.main-content {
		margin-left: 70px;
	}
}
/* Desktop View*/
@media screen and (min-width: 800px) {

	.side-nav {
		width: 200px;
	}
	.side-nav ul li span:nth-child(2) {
		display: inline-block;
	}
	.side-nav ul li i {
		font-size: 16px;
	}
	.side-nav ul li a {
		text-align: left;
	}
	.side-nav .logo i {
		padding-left: 0;
	}
	.side-nav .logo span {
		display: inline-block;
	}
	.main-content {
		margin-left: 200px;
	}
}

/* main box container */
.main {
	display: flex;
	flex-flow: row wrap;
}
.widget {
	flex-basis: 300px;
	flex-grow: 10;
	/*max-width: 300px;*/
	/*height: 300px;*/
	margin: 15px;
	border-radius: 6px;
	background-color: #ffffff34;
	
	position: relative;
}
.widget .title {
	background-color: #eef1f7;
	border-bottom: 1px solid #dfe4ec;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #617085;
	font-weight: 600;
	padding-top: 6px;
}

.widget .box {
	padding: 10px;
}

/*END DASHBOARD*/

/* CHAT */
#chatbox {
	flex-grow: 2;
    margin: 0;
	/*max-width: 600px;
	width: auto;*/
    /*height: 240px;*/
    display: flex;
    flex-direction: column;
  }
  
  #chatbox  #chat {
    overflow: auto;
    /*flex-grow: 1;*/
  }
  
  #chatbox #chat .line * {
    color: white;
    padding: 0.5em;
  }
  
  #chatbox #chat .time {
    border-right: 1px solid #999;
  }
  
  #chatbox #chat .username {
    color: #0497df;
  }

  .btn{
	display: inline-block;
	padding: 6px 12px;
	/* margin-bottom: 4px; */
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
  }

  .btn.btn-chat{
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;

	height: 35px;
	width:14%;
  }

  .form-control {
    /*display: block;*/
    width: 84%;
    /*height: 34px;*/
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
  
  #chatbox form {
    padding-top: 0.5em;
    border-top: 1px solid #999;
  }
  

/* END CHAT */

/* TABLES */
.box table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;

	border: 1px solid #ddd;
}

.box th, .box td {
	color: white;
	text-align: left;
	padding: 8px;
}
.box tr:nth-child(even){
	background-color: #d2dffc;
}
.box tr:nth-child(even) > td{
	color:#0e1d3d;
}
.table-icon{
	font-size: 18px;
	max-width: 10%;
}
/* END TABLES */

  /*CALENDAR*/
  /*******************************Calendar Top Navigation*********************************/
div#calendar{
	margin:0px auto;
	padding:0px;
	width: 602px;
	font-family:Helvetica, "Times New Roman", Times, serif;
  }
   
  div#calendar div.box{
	  position:relative;
	  top:0px;
	  left:0px;
	  width:100%;
	  height:40px;
	  background-color:   #787878 ;      
  }
   
  div#calendar div.header{
	  line-height:40px;  
	  vertical-align:middle;
	  position:absolute;
	  left:11px;
	  top:0px;
	  width:582px;
	  height:40px;   
	  text-align:center;
  }
   
  div#calendar div.header a.prev,div#calendar div.header a.next{ 
	  position:absolute;
	  top:0px;   
	  height: 17px;
	  display:block;
	  cursor:pointer;
	  text-decoration:none;
	  color:#FFF;
  }
   
  div#calendar div.header span.title{
	  /*color:#FFF;*/
	  font-size:18px;
  }
   
   
  div#calendar div.header a.prev{
	  left:0px;
  }
   
  div#calendar div.header a.next{
	  right:0px;
  }
   
   
   
   
  /*******************************Calendar Content Cells*********************************/
  div#calendar div.box-content{
	  border:1px solid #787878 ;
	  border-top:none;
  }
   
   
   
  div#calendar ul.label{
	  float:left;
	  margin: 0px;
	  padding: 0px;
	  margin-top:5px;
	  margin-left: 5px;
  }
   
  div#calendar ul.label li{
	  margin:0px;
	  padding:0px;
	  margin-right:5px;  
	  float:left;
	  list-style-type:none;
	  width:80px;
	  height:40px;
	  line-height:40px;
	  vertical-align:middle;
	  text-align:center;
	  color:#000;
	  font-size: 15px;
	  background-color: transparent;
  }
   
   
  div#calendar ul.dates{
	  float:left;
	  margin: 0px;
	  padding: 0px;
	  margin-left: 5px;
	  margin-bottom: 5px;
  }
   
  /** overall width = width+padding-right**/
  div#calendar ul.dates li{
	  margin:0px;
	  padding:0px;
	  margin-right:5px;
	  margin-top: 5px;
	  line-height:80px;
	  vertical-align:middle;
	  float:left;
	  list-style-type:none;
	  width:80px;
	  height:80px;
	  font-size:25px;
	  background-color: #DDD;
	  color:#000;
	  text-align:center; 
  }
   
  :focus{
	  outline:none;
  }
   
  div.clear{
	  clear:both;
  }     
  /*END CALENDAR*/