<div class="row">
    <div class="col">
        <div class="form-inline">
            <div class="form-group ">
                <label for="dataFollowUp" class="mr-2">Data Exame:</label>
                <input type="date" class="form-control form-control-sm" id="dataFollowUp">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="follow_up" class="">Exame Físico Mama:</label>
            <select multiple class="form-control form-control-sm" id="follow_up" name="follow_up">
                <option value="0">-</option>
                <option value="1">Não Realizado</option>
                <option value="2">Normal(LIC)</option>
                <option value="3">Nódulo</option>
                <option value="4">Empastamento</option>
                <option value="5">Escorrência Mamilar</option>
                <option value="6">Depressão Pele</option>
                <option value="7">Edema/Casca de laranja</option>
                <option value="8">Ulceração</option>
                <option value="10">Retracção Mamilar</option>
                <option value="11">Massa Axilar</option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="follow_up" class="">Exame Físico Axila:</label>
            <select multiple class="form-control form-control-sm" id="follow_up" name="follow_up">
                <option value="0">-</option>
                <option value="1">Não Realizado</option>
                <option value="2">Normal(LIC)</option>
                <option value="3">Gânglios Palpáveis</option>
            </select>
        </div>
    </div>
</div>