<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="localizacaoSelectMamaD">Mama Direita</label>
            <select class="form-control form-control-sm" name="localizacaoSelectMamaD" id="localizacaoSelectMamaD">
                <option value="0">-</option>
                <option value="1">QSE</option>
                <option value="2">QSI</option>
                <option value="3">QII</option>
                <option value="4">QIE</option>
                <option value="5">TQS</option>
                <option value="6">TQInf</option>
                <option value="7">TQE</option>
                <option value="8">TQInt</option>
                <option value="9">Central</option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="localizacaoSelectMamaE">Mama Esquerda</label>
            <select class="form-control form-control-sm" name="localizacaoSelectMamaE" id="localizacaoSelectMamaE">
                <option value="0">-</option>
                <option value="1">QSE</option>
                <option value="2">QSI</option>
                <option value="3">QII</option>
                <option value="4">QIE</option>
                <option value="5">TQS</option>
                <option value="6">TQInf</option>
                <option value="7">TQE</option>
                <option value="8">TQInt</option>
                <option value="9">Central</option>
            </select>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="text-center">
        <img src="../clinic/images/BCRecord/breast_draw.png" class="img-fluid" alt="Responsive image">
    </div>
</div>