<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="mamografiaSelect" class="mr-2 min-w-100px flex-end">Mamografia:</label>
            <div class="input-group mb-3">
                <select class="form-control form-control-sm" id="mamografiaSelect" name="mamografiaSelect">
                    <option value="0">-</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Carregar mamografia"
                        type="button"><i class="fa fa-upload"></i></button>
                    <button class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Ver mamografia"
                        type="button"><i class="fa fa-external-link"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="ecografiaSelect" class="mr-2 min-w-100px flex-end">Ecografia Mama:</label>
            <div class="input-group mb-3">
                <select class="form-control form-control-sm" id="ecografiaSelect" name="ecografiaSelect">
                    <option value="0">-</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Carregar ecografia"
                        type="button"><i class="fa fa-upload"></i></button>
                    <button class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Ver ecografia"
                        type="button"><i class="fa fa-external-link"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="ecografiaSelect" class="mr-2 min-w-100px flex-end">Ecografia Axilar:</label>
            <div class="input-group mb-3">
                <select class="form-control form-control-sm" id="ecografiaSelect" name="ecografiaSelect">
                    <option value="0">-</option>
                    <option value="1">Não Realizada</option>
                    <option value="2">Normal</option>
                    <option value="">Suspeita</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Carregar ecografia"
                        type="button"><i class="fa fa-upload"></i></button>
                    <button class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Ver ecografia"
                        type="button"><i class="fa fa-external-link"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="RMSelect" class="mr-2 min-w-100px flex-end">RM:</label>
            <div class="input-group mb-3">
                <select class="form-control form-control-sm" id="RMSelect" name="RMSelect">
                    <option value="0">-</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Carregar RM"
                        type="button"><i class="fa fa-upload"></i></button>
                    <button class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Ver RM"
                        type="button"><i class="fa fa-external-link"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="tomosinteseSelect" class="mr-2 min-w-100px flex-end">Tomosintese:</label>
            <div class="input-group mb-3">
                <select class="form-control form-control-sm" id="tomosinteseSelect" name="tomosinteseSelect">
                    <option value="0">-</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Carregar tomosintese"
                        type="button"><i class="fa fa-upload"></i></button>
                    <button class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Ver tomosintese"
                        type="button"><i class="fa fa-external-link"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row justify-content-md-center">
            <div class="text-center">
                <img src="../clinic/images/BCRecord/mamography_example.jpg" class="img-fluid" alt="Responsive image">
                <hr>
                <input type="range" class="custom-range" id="customRange1">
            </div>
        </div>
    </div>
</div>