<!--BEGIN TEMPLATE BIOPSIA CARD-->

<div class="card d-none" data-type="template_biopsia">
    <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
            Titulo
        </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordionBio">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="form-inline">
                        <div class="form-group ">
                            <label for="data_biopsia" class="mr-2">Data Biopsia:</label>
                            <input type="date" class="form-control form-control-sm" id="data_biopsia" name="data_biopsia">
                        </div>
                    </div>


                </div>
                <div class="col-3">
                    <div class="form-inline">
                        <div class="form-group ">
                            <label for="data_resultado" class="mr-2">Data Resultado:</label>
                            <input type="date" class="form-control form-control-sm" id="data_resultado" name="data_resultado">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="custom-control custom-checkbox mt-2 justify-content-end mb-1">
                        <input onchange="FieldsetChange(this,'MamaDta')" type="checkbox" class="custom-control-input"
                            id="checkMamaDta" name="checkMamaDta">
                        <label class="custom-control-label" for="checkMamaDta">
                            Mama Dta
                        </label>
                    </div>
                </div>

                <div class="col">
                    <div class="custom-control custom-checkbox mt-2 justify-content-end mb-1">
                        <input onchange="FieldsetChange(this,'AxilaDta')" type="checkbox" class="custom-control-input"
                            id="checkAxilaDta" name="checkAxilaDta">
                        <label class="custom-control-label" for="checkAxilaDta">
                            Axila Dta
                        </label>
                    </div>
                </div>

                <div class="col">
                    <div class="custom-control custom-checkbox mt-2 justify-content-end mb-1">
                        <input onchange="FieldsetChange(this,'MamaEsq')" type="checkbox" class="custom-control-input"
                            id="checkMamaEsq" name="checkMamaEsq">
                        <label class="custom-control-label" for="checkMamaEsq">
                            Mama Esq
                        </label>
                    </div>
                </div>

                <div class="col">
                    <div class="custom-control custom-checkbox mt-2 justify-content-end mb-1">
                        <input onchange="FieldsetChange(this,'AxilaEsq')" type="checkbox" class="custom-control-input"
                            id="checkAxilaEsq" name="checkAxilaEsq">
                        <label class="custom-control-label" for="checkAxilaEsq">
                            Axila Esq
                        </label>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <!-- MAMA Dta-->
                <div class="col border d-none m-1 border-info">
                    <fieldset id="MamaDta">
                        <div class="row pt-2">
                            <div class="col">
                                <legend class="mb-0">Mama Direita</legend>
                            </div>
                            <div class="col ">
                                <div class="form-inline justify-content-end mb-1">
                                    <label class="mr-2" for="resultadoSelectMamaDta">
                                        <strong>
                                            <u>Resultado:</u>
                                        </strong>
                                    </label>
                                    <select class="form-control form-control-sm" id="resultadoSelectMamaDta" name="resultadoSelectMamaDta">
                                        <option value="0">-</option>
                                        <option value="1">Benigno</option>
                                        <option value="2">Maligno</option>
                                        <option value="3">Inconclusivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="tipoBiopsiaSelectMamaDta">Tipo/Técnica:</label>
                                    <select class="form-control form-control-sm" id="tipoBiopsiaSelectMamaDta" name="tipoBiopsiaSelectMamaDta">
                                        <option value="0">-</option>
                                        <option value="1">CORE</option>
                                        <option value="2">CAAF</option>
                                        <option value="3">BAV</option>
                                        <option value="4">INCISIONAL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="formaBiopsiaSelectMamaDta">Forma de Guia:</label>
                                    <select class="form-control form-control-sm" id="formaBiopsiaSelectMamaDta" name="formaBiopsiaSelectMamaDta">
                                        <option value="0">-</option>
                                        <option value="1">ECOGRAFIA</option>
                                        <option value="2">ESTERIOTAXIA</option>
                                        <option value="3">Não Guiada</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <!-- MAMA ESQ-->
                <div class="col border d-none m-1 border-info">
                    <fieldset id="MamaEsq">
                        <div class="row pt-2">
                            <div class="col">
                                <legend class="mb-0">Mama Esquerda</legend>
                            </div>
                            <div class="col ">
                                <div class="form-inline justify-content-end">
                                    <label class="mr-2" for="resultadoSelectMamaEsq">
                                        <strong>
                                            <u>Resultado:</u>
                                        </strong>
                                    </label>
                                    <select class="form-control form-control-sm" id="resultadoSelectMamaEsq" name="resultadoSelectMamaEsq">
                                        <option value="0">-</option>
                                        <option value="1">Benigno</option>
                                        <option value="2">Maligno</option>
                                        <option value="3">Inconclusivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="tipoBiopsiaSelectMamaEsq">Tipo/Técnica:</label>
                                    <select class="form-control form-control-sm" id="tipoBiopsiaSelectMamaEsq" name="tipoBiopsiaSelectMamaEsq">
                                        <option value="0">-</option>
                                        <option value="1">CORE</option>
                                        <option value="2">CAAF</option>
                                        <option value="3">BAV</option>
                                        <option value="4">INCISIONAL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="formaBiopsiaSelectMamaEsq">Forma de Guia:</label>
                                    <select class="form-control form-control-sm" id="formaBiopsiaSelectMamaEsq" name="formaBiopsiaSelectMamaEsq">
                                        <option value="0">-</option>
                                        <option value="1">ECOGRAFIA</option>
                                        <option value="2">ESTERIOTAXIA</option>
                                        <option value="3">Não Guiada</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <!-- AXILA Dta-->
                <div class="col border d-none m-1 border-info">
                    <fieldset id="AxilaDta">
                        <div class="row pt-2">
                            <div class="col">
                                <legend class="mb-0">Axila Direita</legend>
                            </div>
                            <div class="col ">
                                <div class="form-inline justify-content-end">
                                    <label class="mr-2" for="resultadoSelectAxilaDta">
                                        <strong>
                                            <u>Resultado:</u>
                                        </strong>
                                    </label>
                                    <select class="form-control form-control-sm" id="resultadoSelectAxilaDta" name="resultadoSelectAxilaDta">
                                        <option value="0">-</option>
                                        <option value="1">Benigno</option>
                                        <option value="2">Maligno</option>
                                        <option value="3">Inconclusivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-2">
                            <div class="col">
                                <div class="form-group">
                                    <label for="tipoBiopsiaSelectAxilaDta">Tipo/Técnica:</label>
                                    <select class="form-control form-control-sm" id="tipoBiopsiaSelectAxilaDta" name="tipoBiopsiaSelectAxilaDta">
                                        <option value="0">-</option>
                                        <option value="1">CORE</option>
                                        <option value="2">CAAF</option>
                                        <option value="3">BAV</option>
                                        <option value="4">INCISIONAL</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- AXILA ESQ-->
                <div class="col border d-none m-1 border-info">
                    <fieldset id="AxilaEsq">
                        <div class="row pt-2">
                            <div class="col">
                                <legend class="mb-0">Axila Esquerda</legend>
                            </div>
                            <div class="col">
                                <div class="form-inline justify-content-end">
                                    <label class="mr-2" for="resultadoSelectAxilaEsq">
                                        <strong>
                                            <u>Resultado:</u>
                                        </strong>
                                    </label>
                                    <select class="form-control form-control-sm" id="resultadoSelectAxilaEsq" name="resultadoSelectAxilaEsq">
                                        <option value="0">-</option>
                                        <option value="1">Benigno</option>
                                        <option value="2">Maligno</option>
                                        <option value="3">Inconclusivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row  mb-2">
                            <div class="col">
                                <div class="form-group">
                                    <label for="tipoBiopsiaSelectAxilaEsq">Tipo/Técnica:</label>
                                    <select class="form-control form-control-sm" id="tipoBiopsiaSelectAxilaEsq" name="tipoBiopsiaSelectAxilaEsq">
                                        <option value="0">-</option>
                                        <option value="1">CORE</option>
                                        <option value="2">CAAF</option>
                                        <option value="3">BAV</option>
                                        <option value="4">INCISIONAL</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END TEMPLATE BIOPSIA CARD-->



<div id="accordionBio">
    <!-- Cards will be added here... (from template)-->
</div>

<div class="row">
    <div class="col">
        <button id="buttonNewBio" class="btn btn-info btn-sm float-right mt-2" type="button" form="formProcesso">
            Nova Biopsia &nbsp;
        </button>
    </div>
</div>