<div class="row">
    <div class="col">
        <div class="form-group">
            <b>Quimioterapia</b>
            <hr>
            <label for="QuimioterapiaSelect">Timing</label>
            <select class="form-control form-control-sm" id="QuimioterapiaSelect" name="QuimioterapiaSelect">
                <option value="0">-</option>
                <option value="1">NeoAdjuvante</option>
                <option value="2">Adjuvante</option>
            </select>
        </div>
        <div class="form-group">
            <label for="QuimioterapiaSelect">Medicamentos</label>
            <select class="form-control form-control-sm" id="Qt_med" name="Qt_med">
                <option value="0">-</option>
            </select>
        </div>

        <div class="form-group">
            <label for="quimiodatainicio" class="">Data Inicio:</label>
            <input type="date" class="form-control form-control-sm" id="quimiodatainicio">
        </div>
        <div class="form-group">
            <label for="quimiodatafim" class="">Data Fim:</label>
            <input type="date" class="form-control form-control-sm" id="quimiodatafim">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <b>Anti-Her2</b>
            <hr>
            <label for="RadioterapiaSelect">Timing</label>
            <select class="form-control form-control-sm" id="RadioterapiaSelect" name="RadioterapiaSelect">
                <option value="0">-</option>
                <option value="1">NeoAdjuvante</option>
                <option value="2">Adjuvante</option>
                <option value="2">Neo + Adjuvante</option>
            </select>
        </div>
        <div class="form-group">
            <label for="QuimioterapiaSelect">Medicamentos</label>
            <select class="form-control form-control-sm" id="Qt_med" name="Qt_med">
                <option value="0">-</option>
                <option value="1">Trastuzumab</option>
                <option value="2">Pertuzumab</option>
            </select>
        </div>
        <div class="form-group">
            <label for="radiodatainicio" class="">Data Inicio:</label>
            <input type="date" class="form-control form-control-sm" id="radiodatainicio">
        </div>
        <div class="form-group">
            <label for="radiodatafim" class="">Data Fim:</label>
            <input type="date" class="form-control form-control-sm" id="radiodatafim">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <b>Hormonoterapia</b>
            <hr>
            <label for="HormonoterapiaSelect">Timing</label>
            <select class="form-control form-control-sm" id="HormonoterapiaSelect" name="HormonoterapiaSelect">
                <option value="0">-</option>
                <option value="1">NeoAdjuvante</option>
                <option value="2">Adjuvante</option>
                <option value="2">Neo + Adjuvante</option>
            </select>
        </div>
        <div class="form-group">
            <label for="QuimioterapiaSelect">Medicamentos</label>
            <select class="form-control form-control-sm" id="Qt_med" name="Qt_med">
                <option value="0">-</option>
                <option value="1">Tamoxifeno</option>
                <option value="2">Anastrozole</option>
                <option value="3">Letrozole</option>
                <option value="4">Examestano</option>
                <option value="5">Fluvestrant</option>
            </select>
        </div>
        <div class="form-group">
            <label for="hormonodatainicio" class="">Data Inicio:</label>
            <input type="date" class="form-control form-control-sm" id="hormonodatainicio">
        </div>
        <div class="form-group">
            <label for="hormonodatafim" class="">Data Fim:</label>
            <input type="date" class="form-control form-control-sm" id="hormonodatafim">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <b>Radioterapia</b>
            <hr>
            <label for="RadioterapiaSelect">Local</label>
            <select class="form-control form-control-sm" id="RadioterapiaSelect" name="RadioterapiaSelect">
                <option value="0">-</option>
                <option value="1">Mama</option>
                <option value="2">Parede Toraxica</option>
                <option value="3">Parede Toraxica - Cadeias Ganglionares</option>
            </select>
        </div>
        <div class="form-group">
            <label for="radiodatainicio" class="">Data Inicio:</label>
            <input type="date" class="form-control form-control-sm" id="radiodatainicio">
        </div>
        <div class="form-group">
            <label for="radiodatafim" class="">Data Fim:</label>
            <input type="date" class="form-control form-control-sm" id="radiodatafim">
        </div>
    </div>
</div>