<div class="row">
    <div class="col">
        <div class="form-inline">
            <div class="form-group ">
                <label for="dataFollowUp" class="mr-2">Data Consulta:</label>
                <input type="date" class="form-control form-control-sm" id="dataFollowUp">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="follow_up" class="">Follow Up:</label>
            <select class="form-control form-control-sm" id="follow_up" name="follow_up">
                <option value="0">-</option>
                <option value="1">Vivo s/ doença</option>
                <option value="2">Vivo c/ doença</option>
                <option value="3">Morto s/ doença</option>
                <option value="4">Morto c/ doença</option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="data_rec" class="mr-2">
                <u>Data Rec:</u>
            </label>
            <input type="date" class="form-control form-control-sm" nome="data_rec" id="data_rec">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="data_falecimento" class="mr-2">
                <u>Data Falecimento:</u>
            </label>
            <input type="date" class="form-control form-control-sm" nome="data_falecimento" id="data_falecimento">
        </div>
    </div>
</div>