<div class="row">
    <div class="col">
        <div class="form-inline">
            <div class="form-group">
                <label for="mamografiaSelect" class="mr-2 min-w-100px flex-end">Quimioterapia:
                </label>
                <select class="form-control" id="mamografiaSelect" name="mamografiaSelect">
                    <option>Não</option>
                    <option>Neoadjuvante</option>
                    <option>Adjuvante</option>
                </select>
            </div>
        </div>
        <div class="form-inline mt-2">
            <div class="form-group">
                <label for="datainicio" class="mr-2 min-w-100px flex-end">Data Inicio:
                </label>
                <input type="date" class="form-control" id="datainicio">
            </div>
        </div>
        <div class="form-inline mt-2">
            <div class="form-group">
                <label for="datainicio" class="mr-2 min-w-100px flex-end">Data Fim:
                </label>
                <input type="date" class="form-control" id="datainicio">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="form-inline">
            <div class="form-group">
                <label for="mamografiaSelect" class="mr-2 min-w-100px flex-end">Radioterapia:
                </label>
                <select class="form-control" id="mamografiaSelect" name="mamografiaSelect">
                    <option>Não</option>
                    <option>Neoadjuvante</option>
                    <option>Adjuvante</option>
                </select>
            </div>
        </div>
        <div class="form-inline mt-2">
            <div class="form-group">
                <label for="datainicio" class="mr-2 min-w-100px flex-end">Data Inicio:
                </label>
                <input type="date" class="form-control" id="datainicio">
            </div>
        </div>
        <div class="form-inline mt-2">
            <div class="form-group">
                <label for="datainicio" class="mr-2 min-w-100px flex-end">Data Fim:
                </label>
                <input type="date" class="form-control" id="datainicio">
            </div>
        </div>
    </div>
</div>