<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label for="RxPulmonarSelect">Rx Pulmonar:</label>
            <select class="form-control" id="RxPulmonarSelect" name="RxPulmonarSelect">
                <option>Não Realizado</option>
                <option>Normal</option>
                <option>C/ Doença</option>
            </select>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="EcoAbdominalSelect">Ecografia Abdominal:
            </label>
            <select class="form-control" id="EcoAbdominalSelect" name="EcoAbdominalSelect">
                <option>Não Realizado</option>
                <option>Normal</option>
                <option>C/ Doença</option>
            </select>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="CintigrafiaSelect">Cintigrafia Ossea:
            </label>
            <select class="form-control" id="CintigrafiaSelect" name="CintigrafiaSelect">
                <option>Não Realizado</option>
                <option>Normal</option>
                <option>C/ Doença</option>
            </select>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="TACToraxSelect">TAC Torax:</label>
            <select class="form-control" id="TACToraxSelect" name="TACToraxSelect">
                <option>Não Realizado</option>
                <option>Normal</option>
                <option>C/ Doença</option>
            </select>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="TACAbSelect">TAC Abdomen:
            </label>
            <select class="form-control" id="TACAbSelect" name="TACAbSelect">
                <option>Não Realizado</option>
                <option>Normal</option>
                <option>C/ Doença</option>
            </select>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="TACPelSelect" class="mr-2 min-w-100px flex-end">TAC Pelvico:
            </label>
            <select class="form-control" id="TACPelSelect" name="TACPelSelect">
                <option>Não Realizado</option>
                <option>Normal</option>
                <option>C/ Doença</option>
            </select>
        </div>
    </div>
</div>