<div class="row">
    <div class="col">
        <div class="form-inline">
            <div class="form-group ">
                <label for="dataFollowUp" class="mr-2">Data Consulta:</label>
                <input type="date" class="form-control" id="dataFollowUp">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="gridCheck1">
            <label for="gridCheck1" class="custom-control-label">VIVO SEM DOENÇA</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="custom-control custom-checkbox mt-1">
            <input class="custom-control-input" type="checkbox" id="gridCheck2">
            <label for="gridCheck2" class="custom-control-label">VIVO COM DOENÇA</label>
        </div>
    </div>
    <div class="col">
        <div class="form-inline">
            <div class="form-group">
                <label for="dataf1" class="mr-2">
                    <u>DATA REC:</u>
                </label>
                <input type="date" class="form-control form-control-sm" id="dataf1">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="custom-control custom-checkbox mt-1">
            <input class="custom-control-input" type="checkbox" id="gridCheck3">
            <label for="gridCheck3" class="custom-control-label">MORTO SEM DOENÇA</label>
        </div>
    </div>
    <div class="col">
        <div class="form-inline">
            <div class="form-group">
                <label for="dataf2" class="mr-2">
                    <u>DATA:</u>
                </label>
                <input type="date" class="form-control form-control-sm" id="dataf2">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="custom-control custom-checkbox mt-1">
            <input class="custom-control-input" type="checkbox" id="gridCheck4">
            <label for="gridCheck4" class="custom-control-label">MORTO COM DOENÇA</label>
        </div>
    </div>
    <div class="col">
        <div class="form-inline">
            <div class="form-group">
                <label for="dataf3" class="mr-2">
                    <u>DATA REC:</u>
                </label>
                <input type="date" class="form-control form-control-sm" id="dataf3">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="form-inline">
            <div class="form-group">
                <label for="dataf4" class="mr-2">
                    <u>DATA FAL:</u>
                </label>
                <input type="date" class="form-control form-control-sm" id="dataf4">
            </div>
        </div>
    </div>
</div>