<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="localizacaoSelectMamaD">Mama Direita</label>
            <select class="form-control" name="localizacaoSelectMamaD" id="localizacaoSelectMamaD">
                <option>-</option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="localizacaoSelectMamaE">Mama Esquerda</label>
            <select class="form-control" name="localizacaoSelectMamaE" id="localizacaoSelectMamaE">
                <option>-</option>
            </select>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="text-center">
        <img src="../clinic/images/BCRecord/breast_draw.png" class="img-fluid" alt="Responsive image">
    </div>
</div>