<div class="row">
    <div class="col">
        <div class="form-inline">
            <div class="form-group">
                <label for="mamografiaSelect" class="mr-2 min-w-100px flex-end">Tipo Histológico:
                </label>
                <select class="form-control" id="mamografiaSelect" name="mamografiaSelect">
                    <option>Não Realizado</option>
                    <option>Normal</option>
                    <option>C/ Doença</option>
                </select>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col">
        <button id="buttonNewBio" class="btn btn-info btn-sm float-right mt-2" type="button" form="formProcesso">
            Tumor &nbsp;
        </button>
        <button id="buttonNewBio" class="btn btn-info btn-sm float-right mt-2" type="button" form="formProcesso">
            Gânglios &nbsp;
        </button>
    </div>
</div>