<div class="row">
    <div class="col-3">
        <div class="form-inline">
            <div class="form-group">
                <label for="mamografiaSelect" class="mr-2 min-w-100px flex-end">Mamografia:</label>
                <select class="form-control" id="mamografiaSelect" name="mamografiaSelect">
                    <option>-</option>
                </select>
                <div class="form-check">
                    <input checked class="form-check-input position-static ml-2" type="radio" name="blankRadio1" id="blankRadio1" value="option1"
                        aria-label="...">
                </div>
            </div>
        </div>
        <div class="form-inline">
            <div class="form-group">
                <label for="ecografiaSelect" class="mr-2 min-w-100px flex-end">Ecografia:</label>
                <select class="form-control" id="ecografiaSelect" name="ecografiaSelect">
                    <option>-</option>
                </select>
                <div class="form-check">
                    <input class="form-check-input position-static ml-2" type="radio" name="blankRadio2" id="blankRadio2" value="option1" aria-label="...">
                </div>
            </div>
        </div>
        <div class="form-inline">
            <div class="form-group">
                <label for="RMSelect" class="mr-2 min-w-100px flex-end">RM:</label>
                <select class="form-control" id="RMSelect" name="RMSelect">
                    <option>-</option>
                </select>
                <div class="form-check">
                    <input class="form-check-input position-static ml-2" type="radio" name="blankRadio3" id="blankRadio3" value="option1" aria-label="...">
                </div>
            </div>
        </div>
        <div class="form-inline">
            <div class="form-group">
                <label for="tomosinteseSelect" class="mr-2 min-w-100px flex-end">Tomosintese:</label>
                <select class="form-control" id="tomosinteseSelect" name="tomosinteseSelect">
                    <option>-</option>
                </select>
                <div class="form-check">
                    <input class="form-check-input position-static ml-2" type="radio" name="blankRadio4" id="blankRadio4" value="option1" aria-label="...">
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row justify-content-md-center">
            <div class="text-center">
                <img src="../clinic/images/BCRecord/mamography_example.jpg" class="img-fluid" alt="Responsive image">
                <hr>
                <input type="range" class="custom-range" id="customRange1">
            </div>
        </div>
    </div>
</div>