<div id="accordionBio">
    <!-- Cards will be added here... (from template)-->
</div>

<div class="row">
    <div class="col">
        <button id="buttonNewBio" class="btn btn-info btn-sm float-right mt-2" type="button" form="formProcesso">
            Nova Biopsia &nbsp;
        </button>
    </div>
</div>

<!--BEGIN TEMPLATE BIOPSIA CARD-->

<div class="card d-none" data-type="template_biopsia">
    <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
            Titulo
        </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordionBio">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-inline">
                        <div class="form-group ">
                            <label for="data_biopsia" class="mr-2">Data:</label>
                            <input type="date" class="form-control" id="data_biopsia" name="data_biopsia">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="custom-control custom-checkbox mt-2 justify-content-end mb-1">
                        <input onchange="bioFieldsetChange(this,'MamaDta')" type="checkbox" class="custom-control-input" id="checkMamaDta" name="checkMamaDta">
                        <label class="custom-control-label" for="checkMamaDta">
                            Mama Dta
                        </label>
                    </div>
                </div>

                <div class="col">
                    <div class="custom-control custom-checkbox mt-2 justify-content-end mb-1">
                        <input onchange="bioFieldsetChange(this,'AxilaDta')" type="checkbox" class="custom-control-input" id="checkAxilaDta" name="checkAxilaDta">
                        <label class="custom-control-label" for="checkAxilaDta">
                            Axila Dta
                        </label>
                    </div>
                </div>

                <div class="col">
                    <div class="custom-control custom-checkbox mt-2 justify-content-end mb-1">
                        <input onchange="bioFieldsetChange(this,'MamaEsq')" type="checkbox" class="custom-control-input" id="checkMamaEsq" name="checkMamaEsq">
                        <label class="custom-control-label" for="checkMamaEsq">
                            Mama Esq
                        </label>
                    </div>
                </div>

                <div class="col">
                    <div class="custom-control custom-checkbox mt-2 justify-content-end mb-1">
                        <input onchange="bioFieldsetChange(this,'AxilaEsq')" type="checkbox" class="custom-control-input" id="checkAxilaEsq" name="checkAxilaEsq">
                        <label class="custom-control-label" for="checkAxilaEsq">
                            Axila Esq
                        </label>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <!-- MAMA DRT-->
                <div class="col border d-none m-1 border-info">
                    <fieldset id="MamaDta">
                        <div class="row pt-2">
                            <div class="col">
                                <legend class="mb-0">Mama Direita</legend>
                            </div>
                            <div class="col ">
                                <div class="form-inline justify-content-end mb-1">
                                    <label class="mr-2" for="resultadoSelectMamaDrt">
                                        <strong>
                                            <u>Resultado:</u>
                                        </strong>
                                    </label>
                                    <select class="custom-select" id="resultadoSelectMamaDrt" name="resultadoSelectMamaDrt">
                                        <option selected>-</option>
                                        <option value="1">Benigno</option>
                                        <option value="2">Maligno</option>
                                        <option value="3">Inconclusivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="CORE_CAAF_MamaDrt" name="groupMamaDrt" class="custom-control-input">
                                            <label class="custom-control-label" for="CORE_CAAF_MamaDrt">CORE</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="CAAF_MamaDrt" name="groupMamaDrt" class="custom-control-input">
                                            <label class="custom-control-label" for="CAAF_MamaDrt">CAAF</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group mt-2">
                                    <label for="exampleFormControlSelect2">Forma de Guia</label>
                                    <select onclick="bioCORECAAF('CORE_CAAF_MamaDrt')" multiple class="form-control" name="tipo_CORE_CAAF_MamaDrt" id="tipo_CORE_CAAF_MamaDrt">
                                        <option>ECOGRAFIA</option>
                                        <option>ESTERIOTAXIA</option>
                                        <option>Não Guiada</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="BAV_MamaDrt" name="groupMamaDrt" class="custom-control-input">
                                            <label class="custom-control-label" for="BAV_MamaDrt">BAV</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="custom-control custom-radio">
                                            <input onclick="bioINCISIONAL('tipo_CORE_CAAF_MamaDrt')" type="radio" id="INCISIONAL_MamaDrt" name="groupMamaDrt" class="custom-control-input">
                                            <label class="custom-control-label" for="INCISIONAL_MamaDrt">INCISIONAL</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </div>

                <!-- MAMA ESQ-->
                <div class="col border d-none m-1 border-info">
                    <fieldset id="MamaEsq">
                        <div class="row pt-2">
                            <div class="col">
                                <legend class="mb-0">Mama Esquerda</legend>
                            </div>
                            <div class="col ">
                                <div class="form-inline justify-content-end">
                                    <label class="mr-2" for="resultadoSelectMamaEsq">
                                        <strong>
                                            <u>Resultado:</u>
                                        </strong>
                                    </label>
                                    <select class="custom-select" id="resultadoSelectMamaEsq" name="resultadoSelectMamaEsq">
                                        <option selected>-</option>
                                        <option value="1">Benigno</option>
                                        <option value="2">Maligno</option>
                                        <option value="3">Inconclusivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="CORE_CAAF_MamaEsq" name="groupMamaEsq" class="custom-control-input">
                                    <label class="custom-control-label" for="CORE_CAAF_MamaEsq">CORE/CAAF</label>
                                </div>
                                <div class="form-group mt-2">
                                    <!--<label for="exampleFormControlSelect2">Example multiple select</label>-->
                                    <select onclick="bioCORECAAF('CORE_CAAF_MamaEsq')" multiple class="form-control" id="tipo_CORE_CAAF_MamaEsq" name="tipo_CORE_CAAF_MamaEsq">
                                        <option>ECOGRAFIA</option>
                                        <option>ESTERIOTAXIA</option>
                                        <option>Não Guiada</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input onclick="bioINCISIONAL('tipo_CORE_CAAF_MamaEsq')" type="radio" id="INCISIONAL_MamaEsq" name="groupMamaEsq" class="custom-control-input">
                                    <label class="custom-control-label" for="INCISIONAL_MamaEsq">INCISIONAL</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <!-- AXILA DRT-->
                <div class="col border d-none m-1 border-info">
                    <fieldset id="AxilaDta">
                        <div class="row pt-2">
                            <div class="col">
                                <legend class="mb-0">Axila Direita</legend>
                            </div>
                            <div class="col ">
                                <div class="form-inline justify-content-end">
                                    <label class="mr-2" for="resultadoSelectAxilaDrt">
                                        <strong>
                                            <u>Resultado:</u>
                                        </strong>
                                    </label>
                                    <select class="custom-select" id="resultadoSelectAxilaDrt" name="resultadoSelectAxilaDrt">
                                        <option selected>-</option>
                                        <option value="1">Benigno</option>
                                        <option value="2">Maligno</option>
                                        <option value="3">Inconclusivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-2">
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="CORE_CAAF_AxilaDrt" name="groupAxilaDrt" class="custom-control-input">
                                    <label class="custom-control-label" for="CORE_CAAF_AxilaDrt">CORE/CAAF</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="INCISIONAL_AxilaDrt" name="groupAxilaDrt" class="custom-control-input">
                                    <label class="custom-control-label" for="INCISIONAL_AxilaDrt">INCISIONAL</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- AXILA ESQ-->
                <div class="col border d-none m-1 border-info">
                    <fieldset id="AxilaEsq">
                        <div class="row pt-2">
                            <div class="col">
                                <legend class="mb-0">Axila Esquerda</legend>
                            </div>
                            <div class="col ">
                                <div class="form-inline justify-content-end">
                                    <label class="mr-2" for="resultadoSelectAxilaEsq">
                                        <strong>
                                            <u>Resultado:</u>
                                        </strong>
                                    </label>
                                    <select class="custom-select" id="resultadoSelectAxilaEsq" name="resultadoSelectAxilaEsq">
                                        <option selected>-</option>
                                        <option value="1">Benigno</option>
                                        <option value="2">Maligno</option>
                                        <option value="3">Inconclusivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row  mb-2">
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="CORE_CAAF_AxilaEsq" name="groupAxilaEsq" class="custom-control-input">
                                    <label class="custom-control-label" for="CORE_CAAF_AxilaEsq">CORE/CAAF</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="INCISIONAL_AxilaEsq" name="groupAxilaEsq" class="custom-control-input">
                                    <label class="custom-control-label" for="INCISIONAL_AxilaEsq">INCISIONAL</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END TEMPLATE BIOPSIA CARD-->